{% extends 'base.html.twig' %}

{% block title %}Formulaire d'inscription{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <div class="container">
        <h2 class="text-center">Formulaire d'inscription</h2>
        <div class="row">
            {{ form_errors(registrationForm) }}

            {# {{ form_start(registrationForm) }} #}
                {{ form(registrationForm) }}
            {# {{ form_end(registrationForm) }} #}
        </div>
    </div>
{% endblock %}
